.video_embed_share {
	margin:  -10px 0 15px 0;
}
.video_embed_textarea textarea {
	min-height: 100px;
	width: 100%;
	color: #000;
	background: #fff;
	overflow-x: hidden; 
	overflow-y: scroll
}
.video_embed_share_button {
    display: inline-block;
	background: -moz-linear-gradient(center top , #FFFFFF, #EFEFEF) repeat scroll 0 0 #F6F6F6;
    border: 1px solid #CCCCCC;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    color: #000000;
    cursor: pointer;
    height: 16px;
    line-height: 16px;
	margin: 5px 0;
    overflow: visible;
    padding: 5px 6px;
    vertical-align: middle;
    white-space: nowrap;
	text-decoration: none;
}
.embed_branding {
	float: right;
}
.video_embed_note {
	font-size: 11px;
	color: #333;
}